<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localidades</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    <link rel="stylesheet" href="../estaticas/css/styleBackground.css">
    <link rel="stylesheet" href="../estaticas/css/styleCards_localidad.css">
</head>
<body>
  <%if(rol=='usuario'){%>
    <%- include('./parciales/navbarUsuario')%>
  <%}else{%>
    <%- include('./parciales/navbar')%>
  <%}%>
  <br>

  <!--cards localidades-->

  <div class="container">
    <h3 class="text-center mt-2">¡Encuentra la Manzana de cuidado para ti!</h3>
    <div class="row">
      
      <!-- <%localidades.forEach(function(elemento){%>
      <div class="flip-card col-md-3 mt-4">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="title"><%=elemento.nombreMunicipio%></p>
            </div>
            <div class="flip-card-back">
                <p class="title"></p>
                <p>Manzanas de Cuidado: <%=elemento.numeroManzanas%></p>
            </div>
        </div>
    </div>
    <%})%> -->
    <br>

    <%establecimiento.forEach(function(elemento){%>
      <div class="flip-card col-md-3 mt-4">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="title"><%=elemento.nombre%></p>
            </div>
            <div class="flip-card-back">
                <p class="title"></p>
                <a href="https://www.google.com/maps/place/Manzana+del+Cuidado+de+Teusaquillo/@4.6293662,-74.0732134,17z/data=!3m1!4b1!4m6!3m5!1s0x8e3f9b97183868bb:0x8faae8d341431b92!8m2!3d4.6293662!4d-74.0732134!16s%2Fg%2F11v013h3h5?hl=es-CO&entry=ttu" style="color: white;"><%=elemento.direccion%></a>

                <p class="title"></p>
                <p><%=elemento.localidad%></p>

                
            </div>
        </div>
    </div>
    <%})%>
    
  </body>
</html>